VCS:
  GitHub:
    url: http://github.com
    user: username
  GitHubEnterprise:
    url: http://github.example.com
    user: username
Application:
  WordPress:
    version:
      dev: 3.8.1
      prod: 3.8.1
    settings: http://git.example.com/user/wp-settings-repo.git
Plugins:
  open-graph-control:
    src: GitHub
    vcs_user: gboone
    version:
      dev: master
      prod: master
    state: active
  akismet:
    src: False
    version: 2.6
    state: active
  custom-plugin:
    src: GitHubEnterprise
    version:
      dev: 1.0
      prod: 1.0
    state: active
Themes:
  child-theme:
    src: GitHubEnterprise
    version:
      dev: 4.0
      prod: 4.0
    state: active
  twentyfourteen:
    src: False
    version:
      dev: 1.0
      prod: 1.0
    state: inactive
Servers:
  hostname:
    environment: dev
    wordpress: /pah/to/wordpress
    user: username
    wp-cli: /usr/bin/wp
    wp-config: /path/to/wp-config
    port: 2202
    sudo_user: apache
  vagrant:
    environment: dev
    wordpress: /path/to/WordPress
    user: vagrant
    wp-cli: /usr/bin/wp
    wp-config: /path/to/wp-config
    port: 2222
    sudo_user: root
